/* Font to be downloaded first */

@font-face{
	font-family:BookAntiqua;
	src:url(/fonts/BKANT.woff)
}

/* Reset rules */

html{
	padding:0;
	margin:0;
	background-color:#000;
}

a,blockquote,button,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,span,ul{
	padding:0;
	margin:0;
	color:#ffefce;
	display:block;
	font:12px BookAntiqua,sans-serif;
	position:relative;
	border:none
}

:active,:focus,:hover,:link,:visited{
	text-decoration:none;
	color:#ffefce;
	outline:0
}

ol,ul{
	list-style:none
}

:link img,:visited img,a img{
	border:none
}

button{
	cursor:pointer
}

/* Main section */

body{
	background:linear-gradient(#2b2b2b,#000);
	padding:0;
	margin:0;
	background-color:#000;
}

div.header{
	height:41px;
	background:url(/img/header-bg.png) repeat
}

.header .center {
    background:url(/img/header.png) no-repeat;
    height: 41px;
    width: 838px;
    margin: 0 auto;
}

div.divider{
	background:url(/img/divider.png) repeat;
	height:2px;
	position:absolute;
	width:100%;
	z-index:1000
}

div#main{
	width:926px;
	background:url(/img/bg.png) no-repeat transparent;
	margin:0 auto;
	min-height:656px
}

div.logo{
	position:absolute;
	top:20px;
	left:50px;
	width:270px;
	height:85px;
	background:url(/img/logo.png) no-repeat transparent
}

button.home-link{
	position:absolute;
	top:110px;
	left:165px;
	width:207px;
	height:62px;
	background:url(/img/homepage-button.png) no-repeat transparent
}

button span{
	color:#fff;
	font:700 16px BookAntiqua,sans-serif;
	text-shadow:0 0 1px #000,-1px -1px 1px #000,1px 1px 1px #000
}

.home-link span{
	left:20px
}

div.map-bg{
	position:absolute;
	background:url(/img/map_de.png) no-repeat transparent;
	width:474px;
	height:635px;
	right:-100px;
	top:6px
}

h1{
	font-size:65px;
	font-weight:700;
	text-shadow:2px 5px 8px #000;
	top:100px;
	left:400px
}

h2{
	font-size:27px;
	font-weight:700;
	text-shadow:2px 5px 5px #000;
	top:100px;
	left:300px
}

ul.menu{
	position:absolute;
	right:-2px;
	top:380px
}

ul.menu li{
	margin:10px 0
}

ul.menu button{
	width:240px;
	height:64px;
	background:url(/img/button2.png) no-repeat transparent
}

ul.menu span{
	left:95px;
	bottom:5px;
	float:left
}

div.agb-link{
	position:absolute;
	bottom:10px;
	left:110px;
	z-index:100
}

div.agb-link *{
	color:#faebc6
}

div.agb-link a{
	display:inline;
	text-decoration:underline
}

button.map-link{
	position:absolute;
	z-index:100;
	bottom:10px;
	left:320px;
	margin:0 auto;
	width:303px;
	height:59px;
	background:url(/img/menu-button.png) no-repeat transparent
}

button.map-link span{
	bottom:5px
}

.fb-link *{
	color:#000;
	font-size:12px;
	font-weight:700;
	text-shadow:none
}

.fb-link{
	position:absolute;
	width:168px;
	height:35px;
	top:613px;
	right:9px
}

.fb-link span{
	width:120px;
	margin-left:5px;
	margin-top:4px;
	line-height:1.1;
	text-align:center
}

.fb-link div.white-box{
	background:#fff;
	border-radius:6px;
	border:1px solid #888;
	height:35px;
	opacity:.7
}

.fb-link .fb-logo{
	position:absolute;
	top:1px;
	right:0;
	width:36px;
	height:35px;
	float:right;
	background:url(/img/fb-logo.png) no-repeat transparent
}

div.character img{
	position:absolute;
	z-index:1
}

img.merchant{
	left:-150px;
	top:-20px
}

img.warrior{
	left:-100px;
	top:30px
}

img.scholar{
	left:-80px;
	top:105px
}

footer{
	width:926px;
	margin:0 auto
}

footer .copyright{
	margin-top:20px;
	color:#fff;
	text-align:center;
	font-size:10px;
	z-index:100
}

ul.logos{
	width:80%;
	margin-left:auto
}

ul.logos li{
	display:inline-block;
	width:33%
}

.logos a.ubi{
	background:url(/img/ubi_logo.png) no-repeat transparent;
	height:45px;
	width:148px
}

.logos a.dvd{
	background:url(/img/dvd_logo.png) no-repeat transparent;
	height:45px;
	width:38px
}

.logos a.bbyte{
	background:url(/img/bbyte_logo.png) no-repeat transparent;
	height:68px;
	width:40px;
	top:7px
}

/* Overlay */

div#overlay{
	z-index:1000;
	position:fixed;
	top:0;
	width:100%;
	height:100%;
	background-color:#000;
	opacity:.5;
	display:none
}

/* Papyrus scroll */

div.scroll{
	top:-750px;
	margin:0 auto;
	z-index:2000;
	width:500px;
	display:none
}

.scroll *{
	color:#000;
	font-size:14px;
	font-variant:small-caps;
	letter-spacing:1px
}

div.scroll-top{
	z-index:2000;
	height:170px;
	width:465px;
	background:url(/img/scroll-top.png) no-repeat transparent
}

div.scroll-mid{
	margin-top:-145px;
	top:0;
	left:8px;
	min-height:100px;
	width:451px;
	background:url(/img/scroll-center.png) repeat transparent;
	padding-top:20px
}

div.scroll-bottom{
	margin-top:-5px;
	z-index:2100;
	height:53px;
	width:468px;
	background:url(/img/scroll-bottom.png) no-repeat transparent
}

.section{
	display:none
}

/* Signup section */

div.signup{
	padding:30px;
	z-index:2100
}

.signup form div{
	background-color:#ebd4a0;
	margin:10px 0;
	padding:5px
}

.signup div.error{
	box-shadow:0 0 10px #c00
}

.signup div#terms-wrapper{
	background:0 0
}

.signup div#terms-wrapper .error{
	box-shadow:0 0 10px #c00
}

.signup *{
	font-size:12px
}

.signup input{
	background:0 0;
	float:right;
	width:70%
}

.signup input:focus{
	box-shadow:0 0 10px #000
}

label.terms{
	cursor:pointer
}

label.terms div.checkbox{
	width:10px;
	height:10px;
	display:inline-block;
	margin:10px
}

.signup input[type=checkbox],input[type=checkbox]+div.checkbox span.check{
	display:none
}

input[type=checkbox]:checked+div.checkbox span.check{
	display:block;
	position:absolute;
	font-size:14px;
	margin-top:-3px
}

label.terms span.label{
	display:inline;
	float:right;
	width:80%;
	margin-right:20px;
	margin-top:5px
}

.signup input.submit{
	float:none;
	margin:50px auto 0;
	height:50px;
	width:260px;
	background:url(/img/menu-button.png) no-repeat transparent;
	background-size:cover;
	cursor:pointer;
	color:#f2debe;
	font-variant:normal;
	font-size:14px;
	padding-bottom:8px;
	box-shadow:none
}

.signup div#errors{
	display:none
}

.signup .visible{
	display:block!important
}

/* Prizes section */

div.prizes{
	padding-top:50px;
	height:650px
}

.prizes span.place1{
	margin-left:30px
}

.prizes span.place1desc{
	margin-left:190px
}

.prizes img.place1{
	position:absolute;
	right:250px;
	top:100px
}

.prizes span.place2{
	margin-left:30px;
	top:150px
}

.prizes span.place2desc{
	margin-left:30px;
	top:170px
}

.prizes img.place2{
	position:absolute;
	right:-100px;
	top:300px
}

.prizes button.close{
	height:50px;
	width:260px;
	bottom:20px;
	position:absolute;
	left:100px;
	background:url(/img/menu-button.png) no-repeat transparent;
	background-size:cover
}

.prizes button.close span{
	color:#fff;
	font-size:13px;
	font-variant:normal;
	bottom:4px;
	text-align:center
}

/* Conirmation section */

div.confirmation{
	padding-top:50px;
	height:200px
}

.confirmation>span{
	width:85%;
	margin:0 auto;
	font-size:15px;
	letter-spacing:0
}

.confirmation button.close{
	height:50px;
	width:260px;
	bottom:0;
	position:absolute;
	left:70px;
	background:url(/img/menu-button.png) no-repeat transparent;
	background-size:cover
}

.confirmation button.close span{
	color:#fff;
	font-size:13px;
	font-variant:normal;
	text-align:center;
	bottom:4px
}

/* Conirmation map */

div.map-popup{
	padding-top:50px;
	height:560px
}

.map-popup>span{
	width:85%;
	margin:0 auto 20px;
	font-size:14px;
	letter-spacing:0
}

.map-popup img{
	margin:0 auto;
	display:block
}

.map-popup button.close{
	height:50px;
	width:260px;
	bottom:20px;
	position:absolute;
	left:100px;
	background:url(/img/menu-button.png) no-repeat transparent;
	background-size:cover
}

.map-popup button.close span{
	color:#fff;
	font-size:13px;
	font-variant:normal;
	text-align:center;
	bottom:4px
}
